:root {
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Dark-gray: hsl(0, 0%, 59%);
}
html,
body {
  height: 100%;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-cyan);
  overflow: hidden;
}
.container0 {
  position: relative;
  z-index: -5;
}
.container0 div:first-child {
  position: absolute;
  width: 975px;
  height: 1000px;
  background-image: url(../images/bg-pattern-bottom.svg);
}
.container0 div:last-child {
  position: absolute;
  width: 1000px;
  height: 973px;
  background-image: url(../images/bg-pattern-top.svg);
  top: -900px;
  left: -720px;
}
.container {
  width: 400px;
  height: 425px;
  background-color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  overflow: hidden;
  position: relative;
}
.container .cover {
  height: 120px;
}
.container .avatar {
  position: absolute;
  z-index: 5;
  width: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -88%);
  -webkit-transform: translate(-50%, -88%);
  -moz-transform: translate(-50%, -88%);
  -ms-transform: translate(-50%, -88%);
  -o-transform: translate(-50%, -88%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 5px solid #fff;
}
.container .infos {
  text-align: center;
  padding: 65px 0px 20px 0px;
}
.container .infos .info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .infos .info {
  font-weight: 700;
}
.container .infos .age {
  font-weight: 400;
  color: var(--Dark-gray);
  margin-left: 10px;
}
.container .infos .city {
  font-size: 13px;
  color: var(--Dark-gray);
  margin-top: 5px;
  margin-bottom: -5px;
}
.container .stats {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px 20px;
}
.container .stats .follow,
.container .stats .likes,
.container .stats .photos {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container .stats .follow .num,
.container .stats .likes .num,
.container .stats .photos .num {
  font-weight: bold;
}
.container .stats .follow .feed,
.container .stats .likes .feed,
.container .stats .photos .feed {
  font-weight: 400;
  font-size: 10px;
  color: var(--Dark-gray);
}
hr {
  height: 1px;
  width: 100%;
  background-color: rgba(143, 143, 143, 0.507);
  border: none;
}
